{
  "plugins": [ ["transform-decorators"],
          ["transform-class-properties"],
          ["transform-object-rest-spread", {"usebuiltIns": true}]
   ],
  "presets": [ "react", "babel-preset-env"]
}
